[submodule "ReactiveKit"]
	path = ReactiveKit
	url = https://github.com/jblack10101/ReactiveKit
	branch = v1-swift2.3-support
[submodule "ReactiveFoundation"]
	path = ReactiveFoundation
	url = https://github.com/jblack10101/ReactiveFoundation
	branch = v1-swift2.3-support
